{% extends 'base.html' %}
{% block title%} index{% endblock %}
{% block body %}

{% load static %}
<style>
    .blog_btn{
        display: flex;
        justify-content: end;
        margin: 20px;
    }
</style>
</style>

    <main>
        <article>
            <!--#HERO-->
            <section class="section hero has-bg-image" id="home" aria-label="home"
                style="background-image: url('{% static "Images_folder/hero-bg.svg" %}')">
                <div class="container">
                    <div class="hero-content">
                        <h1 class="h1 section-title">
                            The Best Program to <span class="span">Enroll</span> for Exchange
                        </h1>
                        <p class="hero-text">
                            Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit.
                        </p>
                        <a href="#" class="btn has-before">
                            <span class="span">Find courses</span>
                            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                        </a>
                    </div>
                    <figure class="hero-banner">
                        <div class="img-holder one" style="--width: 270; --height: 300;">
                            <img src="{% static "Images_folder/hero-banner-1.jpg" %}" width="270" height="300" alt="hero banner"
                                class="img-cover">
                        </div>
                        <div class="img-holder two" style="--width: 240; --height: 370;">
                            <img src="{% static "Images_folder/hero-banner-2.jpg" %}" width="240" height="370" alt="hero banner"
                                class="img-cover">
                        </div>
                        <img src="{% static "Images_folder/hero-shape-1.svg" %}" width="380" height="190" alt=""
                            class="shape hero-shape-1">
                        <img src="{% static "Images_folder/hero-shape-2.png" %}" width="622" height="551" alt=""
                            class="shape hero-shape-2">
                    </figure>
                </div>
            </section>

<!--- #ABOUT--> 
            <section class="section about" id="about" aria-label="about">
                <div class="container">
                    <figure class="about-banner">
                        <div class="img-holder" style="--width: 520; --height: 370;">
                            <img src="./assets/images/about-banner.jpg{% static "Images_folder/hero-banner-2.jpg" %}" width="520" height="370" loading="lazy"
                                alt="about banner" class="img-cover">
                        </div>
                        <img src="{% static "Images_folder/about-shape-1.svg" %}" width="360" height="420" loading="lazy" alt=""
                            class="shape about-shape-1">
                        <img src="{% static "Images_folder/about-shape-2.svg" %}" width="371" height="220" loading="lazy" alt=""
                            class="shape about-shape-2">
                        <img src="{% static "Images_folder/about-shape-3.png" %}" width="722" height="528" loading="lazy" alt=""
                            class="shape about-shape-3">
                    </figure>
                    <div class="about-content">
                        <p class="section-subtitle">About Us</p>
                        <h2 class="h2 section-title">
                            Over 10 Years in <span class="span">Distant learning</span> for Skill Development
                        </h2>
                        <p class="section-text">
                            Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod ex tempor incididunt labore
                            dolore magna
                            aliquaenim ad
                            minim.
                        </p>
                        <ul class="about-list">
                            <li class="about-item">
                                <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>
                                <span class="span">Expert Trainers</span>
                            </li>
                            <li class="about-item">
                                <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>
                                <span class="span">Online Remote Learning</span>
                            </li>
                            <li class="about-item">
                                <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>
                                <span class="span">Lifetime Access</span>
                            </li>
                        </ul>
                        <img src="{% static "Images_folder/about-shape-4.svg" %}" width="100" height="100" loading="lazy" alt=""
                            class="shape about-shape-4">
                    </div>
                </div>
            </section>

            <!--- #CATEGORY-->
            <section class="section category" aria-label="category">
                <div class="container">
                    <p class="section-subtitle">Categories</p>
                    <h2 class="h2 section-title">
                        Online <span class="span">Classes</span> For Remote Learning.
                    </h2>
                    <p class="section-text">
                        Consectetur adipiscing elit sed do eiusmod tempor.
                    </p>
                    <ul class="grid-list">
                        <li>
                            <div class="category-card" style="--color: 170, 75%, 41%">
                                <div class="card-icon">
                                    <img src="{% static "Images_folder/category-1.svg" %}" width="40" height="40" loading="lazy"
                                        alt="Online Degree Programs" class="img">
                                </div>
                                <h3 class="h3">
                                    <a href="#" class="card-title">Online Degree Programs</a>
                                </h3>
                                <p class="card-text">
                                    Lorem ipsum dolor consec tur elit adicing sed umod tempor.
                                </p>
                                <span class="card-badge">7 Courses</span>
                            </div>
                        </li>
                        <li>
                            <div class="category-card" style="--color: 351, 83%, 61%">

                                <div class="card-icon">
                                    <img src="{% static "Images_folder/category-2.svg" %}" width="40" height="40" loading="lazy"
                                        alt="Non-Degree Programs" class="img">
                                </div>
                                <h3 class="h3">
                                    <a href="#" class="card-title">Non-Degree Programs</a>
                                </h3>
                                <p class="card-text">
                                    Lorem ipsum dolor consec tur elit adicing sed umod tempor.
                                </p>
                                <span class="card-badge">4 Courses</span>
                            </div>
                        </li>
                        <li>
                            <div class="category-card" style="--color: 229, 75%, 58%">
                                <div class="card-icon">
                                    <img src="{% static "Images_folder/category-3.svg" %}" width="40" height="40" loading="lazy"
                                        alt="Off-Campus Programs" class="img">
                                </div>
                                <h3 class="h3">
                                    <a href="#" class="card-title">Off-Campus Programs</a>
                                </h3>
                                <p class="card-text">
                                    Lorem ipsum dolor consec tur elit adicing sed umod tempor.
                                </p>
                                <span class="card-badge">8 Courses</span>
                            </div>
                        </li>
                        <li>
                            <div class="category-card" style="--color: 42, 94%, 55%">
                                <div class="card-icon">
                                    <img src="{% static "Images_folder/category-4.svg" %}" width="40" height="40" loading="lazy"
                                        alt="Hybrid Distance Programs" class="img">
                                </div>
                                <h3 class="h3">
                                    <a href="#" class="card-title">Hybrid Distance Programs</a>
                                </h3>
                                <p class="card-text">
                                    Lorem ipsum dolor consec tur elit adicing sed umod tempor.
                                </p>
                                <span class="card-badge">8 Courses</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>


            <section class="feature" id="feature">
                <div class="section__container feature__container">
                    <h4>"It's not about fitting in... It's about you, your ride, your journey."</h4>
                    <div class="feature__grid">
                        <div class="feature__content">
                            <div>
                                <p>"Welcome to Arjitech, where imagination meets innovation and pixels come to life.
                                    Your journey with
                                    us is a
                                    canvas of endless possibilities, Together,let's design dreams into reality and
                                    redefine the boundaries
                                    of
                                    possibility. Embark on your extraordinary
                                    journey with Arjitech, where the best is yet to come."</p>
                            </div>
                        </div>
                        <div class="feature__video"><video src="{% static "videos/Arjitech.mp4" %}" muted loop
                                autoplay></video>
                        </div>
                    </div>
                </div>
            </section>
{% comment %}
leaders of Teqpear_Technology
  {% endcomment %}


            <!-- tyestomonial -->

            <section class="testimonials">
                <h2 class="h2 section-title">
                    Clients <span class="span">Testimonials</span> feedback
                </h2>
                <div class="testimonial-container">
                    <div class="testimonial-box">
                        <p class="quote">I don't have words to thank this man, I'm really grateful to have this channel
                            and website
                            in my daily routine. If you're a mere beginner, then you can trust this guy and can put your
                            time into his
                            content. I can assure you that it'll be worth it.</p>
                        <p class="author">Mohit Kumar</p>
                        <p class="role">Web Developer</p>
                    </div>
                    <div class="testimonial-box">
                        <p class="quote">For everyone who wants to level up their #Coding and #Dev skills - seriously,
                            this channel
                            is for you! Both basic and advanced stacks are covered on this channel, and one can learn
                            according to his
                            skill levels. And the icing on the cake is, everything is available for free.</p>
                        <p class="author">Rakesh Shetty</p>
                        <p class="role">Web Developer</p>
                    </div>
                </div>
            </section>


            <!--- #BLOG-->

            <section class="section blog has-bg-image" id="blog" aria-label="blog"
                style="background-image: url('{% static "Images_folder/blog-bg.svg" %}')">
                <div class="container">

                    <p class="section-subtitle">Latest Articles</p>

                    <h2 class="h2 section-title">Get News With Eduweb</h2>

                    <ul class="grid-list">

                        <li>
                            <div class="blog-card">

                                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                                    <img src="{% static "Images_folder/blog-1.jpg" %}" width="370" height="370" loading="lazy"
                                        alt="Become A Better Blogger: Content Planning" class="img-cover">
                                </figure>

                                <div class="card-content">

                                    <a href="#" class="card-btn" aria-label="read more">
                                        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                                    </a>

                                    <a href="#" class="card-subtitle">Online</a>

                                    <h3 class="h3">
                                        <a href="#" class="card-title">Become A Better Blogger: Content Planning</a>
                                    </h3>

                                    <ul class="card-meta-list">

                                        <li class="card-meta-item">
                                            <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                                            <span class="span">Oct 10, 2021</span>
                                        </li>

                                        <li class="card-meta-item">
                                            <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>

                                            <span class="span">Com 09</span>
                                        </li>

                                    </ul>

                                    <p class="card-text">
                                        Lorem Ipsum Dolor Sit Amet Cons Tetur Adipisicing Sed.
                                    </p>

                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="blog-card">

                                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                                    <img src="{% static "Images_folder/blog-2.jpg" %}" width="370" height="370" loading="lazy"
                                        alt="Become A Better Blogger: Content Planning" class="img-cover">
                                </figure>

                                <div class="card-content">

                                    <a href="#" class="card-btn" aria-label="read more">
                                        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                                    </a>

                                    <a href="#" class="card-subtitle">Online</a>

                                    <h3 class="h3">
                                        <a href="#" class="card-title">Become A Better Blogger: Content Planning</a>
                                    </h3>

                                    <ul class="card-meta-list">

                                        <li class="card-meta-item">
                                            <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                                            <span class="span">Oct 10, 2021</span>
                                        </li>

                                        <li class="card-meta-item">
                                            <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>

                                            <span class="span">Com 09</span>
                                        </li>

                                    </ul>

                                    <p class="card-text">
                                        Lorem Ipsum Dolor Sit Amet Cons Tetur Adipisicing Sed.
                                    </p>

                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="blog-card">

                                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                                    <img src="{% static "Images_folder/blog-3.jpg" %}" width="370" height="370" loading="lazy"
                                        alt="Become A Better Blogger: Content Planning" class="img-cover">
                                </figure>

                                <div class="card-content">

                                    <a href="#" class="card-btn" aria-label="read more">
                                        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                                    </a>

                                    <a href="#" class="card-subtitle">Online</a>

                                    <h3 class="h3">
                                        <a href="#" class="card-title">Become A Better Blogger: Content Planning</a>
                                    </h3>

                                    <ul class="card-meta-list">

                                        <li class="card-meta-item">
                                            <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>
                                            <span class="span">Oct 10, 2021</span>
                                        </li>
                                        <li class="card-meta-item">
                                            <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>

                                            <span class="span">Com 09</span>
                                        </li>
                                    </ul>
                                    <p class="card-text">
                                        Lorem Ipsum Dolor Sit Amet Cons Tetur Adipisicing Sed.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <img src="{% static "Images_folder/blog-shape.png" %}" width="186" height="186" loading="lazy" alt=""
                        class="shape blog-shape">
                </div>

        <div class="blog_btn">
            <div class="center_btn">
                 <a href="#" class="btn has-before" id="center_but">
                    <span class="span">Show more Articles </span>
                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                 </a>
            </div>
        </div>

            </section>
        </article>
    </main>
{% endblock %}