{% extends 'base.html' %}
{% block title%} index{% endblock %}
{% block body %}
{% load static %}
<style>
    #Course_title{
        margin: 125px 0px 41px 0px;
}

 
</style>

        <h2 class="h2 section-title " id="Course_title">
            <span class="span">Tutorials</span> for backbencher
          </h2>
        <div class="notes_container">
            <div class="notes_card">
                <span class="img-note">
                    <img src="{% static "Images_folder/blog-1.jpg" %}" alt="Python Notes">
                </span>
                <h3>Python Tutorial</h3>
                <div class="button-container">
                    <button>Explore</button>
                </div>
            </div>
            <div class="notes_card">
                <span class="img-note">
                    <img src="{% static "Images_folder/blog-1.jpg" %}" alt="Python Notes">
                </span>
                <h3>Python Tutorial</h3>
                <div class="button-container">
                    <button>Explore</button>
                </div>
            </div>
            <div class="notes_card">
                <span class="img-note">
                    <img src="{% static "Images_folder/blog-1.jpg" %}" alt="Python Notes">
                </span>
                <h3>Python Tutorial</h3>
                <div class="button-container">
                    <button>Explore</button>
                </div>
            </div>
            <div class="notes_card">
                <span class="img-note">
                    <img src="{% static "Images_folder/blog-1.jpg" %}" alt="Python Notes">
                </span>
                <h3>Python Tutorial</h3>
                <div class="button-container">
                    <button>Explore</button>
                </div>
            </div>
            <div class="notes_card">
                <span class="img-note">
                    <img src="{% static "Images_folder/blog-1.jpg" %}" alt="Python Notes">
                </span>
                <h3>Python Tutorial</h3>
                <div class="button-container">
                    <button>Explore</button>
                </div>
            </div>
            <div class="notes_card">
                <span class="img-note">
                    <img src="{% static "Images_folder/blog-1.jpg" %}" alt="Python Notes">
                </span>
                <h3>Python Tutorial</h3>
                <div class="button-container">
                    <button>Explore</button>
                </div>
            </div>
            <div class="notes_card">
                <span class="img-note">
                    <img src="{% static "Images_folder/blog-1.jpg" %}" alt="Python Notes">
                </span>
                <h3>Python Tutorial</h3>
                <div class="button-container">
                    <button>Explore</button>
                </div>
            </div>
            <div class="notes_card">
                <span class="img-note">
                    <img src="{% static "Images_folder/blog-1.jpg" %}" alt="Python Notes">
                </span>
                <h3>Python Tutorial</h3>
                <div class="button-container">
                    <button>Explore</button>
                </div>
            </div>
            <div class="notes_card">
                <span class="img-note">
                    <img src="{% static "Images_folder/blog-1.jpg" %}" alt="Python Notes">
                </span>
                <h3>Python Tutorial</h3>
                <div class="button-container">
                    <button>Explore</button>
                </div>
            </div>
            <div class="notes_card">
                <span class="img-note">
                    <img src="{% static "Images_folder/blog-1.jpg" %}" alt="Python Notes">
                </span>
                <h3>Python Tutorial</h3>
                <div class="button-container">
                    <button>Explore</button>
                </div>
            </div>
            <div class="notes_card">
                <span class="img-note">
                    <img src="{% static "Images_folder/blog-1.jpg" %}" alt="Python Notes">
                </span>
                <h3>Python Tutorial</h3>
                <div class="button-container">
                    <button>Explore</button>
                </div>
            </div>
            <div class="notes_card">
                <span class="img-note">
                    <img src="{% static "Images_folder/blog-1.jpg" %}" alt="Python Notes">
                </span>
                <h3>Python Tutorial</h3>
                <div class="button-container">
                    <button>Explore</button>
                </div>
            </div>
           
        </div>
{% endblock%}